h1,h2,h3,h4,h5 {
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.btn-white {
  color: gray;
  border: 1px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: transparent;
  transition: .4s;
}

.btn-white:hover {
  background-color: #fafafa;
  color: rgba(0,0,0,0.5);
}

.form-control {
  height: 45px;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: rgba(0,0,0,0.5);
}

.btn-gray {
  color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  
  &:hover {
    color: gray;
  }
}

.text-right {
  float: right;
  margin-right: 10px;
}

.icon {
  position: relative;

  .right-icon {
    height: 40px;
    position: absolute;
    top: 40px;
  }
}

.form-edit {
  height: 45px;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgba(0,0,0,0.5);
  border: solid 2px rgba(0,0,0,0.5);
  border-radius: 5px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: rgba(0,0,0,0.5);
  color: white;
}

.text-thin {
  color: rgba(0,0,0,0.1);
}

.bottun-row {
  margin-bottom: 30px;
  text-align: center;
}

.btn-about {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #333333;
  border: solid 2px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
  transition: .4s;
  font-size: 20px;
  font-weight: 100;
}

.btn-about:hover {
  background-color: #fafafa;
  color: #333333;
}