h1,h2,h3,h4,h5 {
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.top-bottun-row {
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  height: 100px;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.bottun-row {
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  height: 100px;
  padding-top: 20px;
  text-align: center;
}

.btn-white {
  color: gray;
  border: 1px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: transparent;
  
  &:hover {
    color: white;
  }
}

.space {
  height: 30px;
}

.page-title {
}

.mypage-wrapper {
  padding-top: 80px;
  padding-bottom: 30px;
  background-color: rgba(0,0,0,0.1);

  .left-contents {
    height: 400px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 0 0 0 0;
    background-color: white;
    position: relative;
    border-radius: 15px;
    
    .contents-area {
      h6 {
        margin: 0 0 0 0;
      }
      
      .icon-area {
        width: 100%;
        text-align: center;
        margin: 20px 0 40px 0;
      
        img {
          height: 100px;
        }
      }
      
      .single-contents {
        padding-left: 20px
      }
    }
    
    .bottun-area {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 3%;
    
      .btn-flat-border {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: rgba(0,0,0,0.4);
        border: solid 1px rgba(0,0,0,0.5);
        border-radius: 3px;
        transition: .4s;
        background: rgba(0,0,0,0.1);
      }
      
      .btn-flat-border:hover {
        background: rgba(0,0,0,0.5);
        color: white;
      }
    }
  }
  
  .right-contents {
    height: 250px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 0 0 0 0;
    background-color: white;
    margin-bottom: 30px;
    position: relative;
    border-radius: 15px;
    
    .des-area {
      width: 100%;
      padding: 0 0 0 20px;
      
      h6 {
        margin: 0 0 0 0;
      }
      
      p {
        margin: 0 0 0 0;
      }
      
      .single-contents {
        margin: 7px 0 0 0;
      }
    }
    
    .bottun-area {
      position: absolute;
      right: 5%;
      bottom: 5%;
      
      .btn-flat-border {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: rgba(0,0,0,0.4);
        border: solid 1px rgba(0,0,0,0.5);
        border-radius: 3px;
        transition: .4s;
        background: rgba(0,0,0,0.1);
      }
      
      .btn-flat-border:hover {
        background: rgba(0,0,0,0.5);
        color: white;
      }
    }
  }
  
  .title-area {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.2);
    height: 30px;
    padding: 8px 0 0 0;
    border-radius: 15px 15px 0 0;
    
    h5 {
      margin: 0 0 0 0;
    }
  }
  
  .text-left {
    padding-left: 20px;
  }
  
}






.form-control {
  height: 45px;
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.navbar {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  
  a {
    color: #fff !important;
  }
  
  ul {
    list-style: none;
  }
  
  .navbar-brand {
    padding: 0px;
    margin-top: 15px;
  }
  
  .navbar-right {
    position: relative;
  }
  
  img {
    height: 40px;
    margin: 0 15px 15px 15px;
  }
}

.top-page-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bg-top.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-page-container {
  padding-top: 100px;
  
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 60px;
  }
}

.text-white {
  color: #fff;
}

.text-gray {
  color: rgba(0,0,0,0.5);
}

.btn-gray {
  color: rgba(0,0,0,0.5);
  border: 1px solid rgba(0,0,0,0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0);
  
  &:hover {
    color: gray;
  }
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 100px;
    
    .form-group {
      margin-bottom: 20px;
    }
    
    h1 {
      margin-bottom: 30px;
    }
  }
}

.plans_new_container {
  margin-top: 30px;
}

.user-show-wrapper {
  padding-top: 71px;
  background-color: #fafafa;
  
  h1 {
    margin-bottom: 30px;
  }
}

.user-show-container {
  height: 350px;
  margin-bottom: 30px;
}

.left {
  background-color: #CCFFFF;
}

.right {
  background-color: #FFEEFF;
}

.single-info {
  border: 1px solid rgba(0,0,0,0.5);
  height: 80px;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  
  .info-image {
    float: left;
  }
  
  img {
    position: absolute;
    top: 15%;
    height: 50px;
  }
    
  .right-info {
    float: right;
    width: 70%;
    
    h4 {
      border-bottom: 1px solid rgba(0,0,0,0.5);
    }
    
    p {
      margin-left: 10px;
    }
  }
  
  .single-info-icon {
    height: 50px;
  }
}

.single-cost-left {
  float: left;
  width: 48%;
}

.single-cost-right {
  float: right;
  width: 48%;
}


.single-cost {
  border: 1px solid rgba(0,0,0,0.5);
  height: 80px;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  
  img {
    position: absolute;
    top: 15%;
    height: 50px;
  }
}

.right-cost {
  float: right;
  width: 70%;
  
  h4 {
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }
    
  p {
    margin-left: 10px;
  }
  
}

.text-right {
  float: right;
  margin-right: 10px;
}

.simu {
  background-color: #FFFFCC;
}

.single-simu {
  border: 1px solid rgba(0,0,0,0.5);
  height: 80px;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  width: 30%;
}

.single-edit {
  height: 200px;
  margin-bottom: 40px;
}

.info-edit-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fafafa;
  
  .submit {
    margin-bottom: 20px;
  }
}

.icon {
  position: relative;

  .right-icon {
    height: 40px;
    position: absolute;
    top: 40px;
  }
}

.des {
  border-left: 1px solid rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.title {
  overflow: hidden;
  margin-left: 30px;
  margin-bottom: 5px;
 
  .single-edit-icon {
    height: 40px;
    float: left;
    margin-right: 20px;
  }
}

.form-edit {
  height: 45px;
}

.text-label {
  margin-bottom: 3px;
}

.input {
  overflow: hidden;
  
  .top {
    float: top;
  }
  
  .bottom {
    float: bottom; 
  }
}

.top-title {
  margin-bottom: 50px;
  
  h1 {
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }
  
  p {
    margin: 0 0 0 20px;
  }
  
}

.user-show-top {
  width: 100vw;
  position: relative;
  margin-bottom: 0;
  
  img {
    width: 100%;
  }
  
  h1 {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .des1 {
    position: absolute;
    top: 150px;
    left: 20px;
  }
  
  .des2 {
    position: absolute;
    top: 200px;
    left: 20px;
  }
}

.background-shadow-1 {
  background: linear-gradient(to right, rgba(0,0,0,0.2), white);
  margin-bottom: 30px;
  
  img {
    height: 250px;
    width: 100%;
  }
}

.background-shadow-2 {
  background: linear-gradient(to left, rgba(0,0,0,0.2), white);
  margin-bottom: 30px;
  
  img {
    height: 250px;
    width: 100%;
  }
}

.right-des {
  height: 250px;
  padding-left: 30px;
  position: relative;
  
  h3 {
    margin-bottom: 20px;
  }
  
  p {
    margin-left: 10px;
    margin-bottom: 5px;
  }
  
  h4 {
    margin-left: 10px;
    color: black;
  }

  .target{
    font-size: 24px;
  }
}

.left-des {
  position: relative;
  
  h3 {
    margin-bottom: 20px;
  }
  
  p {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: rgba(0,0,0,0.5);
  border: solid 2px rgba(0,0,0,0.5);
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: rgba(0,0,0,0.5);
  color: white;
}

.plan-edit-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  
  .users-new-container {
    padding-top: 100px;
    
    .form-group {
      margin-bottom: 20px;
    }
    
    h1 {
      margin-bottom: 30px;
    }
  }
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 50px 0;
  background-color: rgba(0,0,0,0.5);
  color: white; 
}


.tooltip1 {
  position: absolute;
  top: 50px;
  left: 75%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.description1 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 130px;
}
.description1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
}
.tooltip1:hover .description1{
  display: inline-block;
  top: -60px;
  left: -10px;
}

.tooltip2 {
  position: absolute;
  top: 50px;
  left: 70%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.description2 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 140px;
}
.description2:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
}
.tooltip2:hover .description2{
  display: inline-block;
  top: -60px;
  left: -12px;
}

.tooltip3 {
  position: absolute;
  top: 20px;
  left: 75%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.description3 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 140px;
}
.description3:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
}

.tooltip3:hover .description3{
  display: inline-block;
  top: -60px;
  left: -12px;
}



.tooltip-edituser {
    position:absolute;
    top: 15px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.description-edituser {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 80px;
}
.description-edituser:before {
    content: "";
    position: absolute;
    top: -24px;
    right: 60%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(180deg);
}
.tooltip-edituser:hover .description-edituser {
    display: inline-block;
    top: 55px;
    left: 10px;
}

.tooltip-session {
    position:absolute;
    top: 15px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.description-session {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 80px;
}
.description-session:before {
    content: "";
    position: absolute;
    top: -24px;
    right: 60%;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -15px;
    transform: rotateZ(180deg);
}
.tooltip-session:hover .description-session {
    display: inline-block;
    top: 55px;
    left: 15px;
}

.cost-edit-title {
  background: linear-gradient(to right, rgba(0,0,0,0.2), white);
  position: relative;
  height: 250px;
  margin: 20px 0 50px 0;
  
  .left-contents {
    padding: 20px 0 0 20px;
    
    h1 {
      margin-bottom: 15px;
    }
    
    p {
      margin-left: 20px;
    }
  }
  
  img {
    position: absolute;
    top: 0;
    right: 0;
    height: 250px;
  }
}


.cost-edit-contents {
  height: 800px;
  position: relative;
  margin-bottom: 50px;
  
  .top-contents {
    position: relative;
    height: 400px;
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 0 5px 0 5px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 75px;
    
    h3 {
      margin: 0 0 40px 0;
    }
    
    h2 {
      margin: 0 0 40px 0;
      
      span {
        font-size: 40px;
        font-weight: bold;
      }
    }
  }
  
  .top-contents::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -16px;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 16px 8px 0 8px;
    border-color: rgba(0,0,0,0.1) transparent transparent transparent;
  }
  
  .icon-img {
    width: 100%;
    text-align: center;
    margin: 40px 0 40px 0; 
    
    img {
      height: 100px;
    }
  }
  
  .input {
    position: absolute;
    bottom: 10px;
    text-align: center;
  }
}

.cost-edit-contents-right {
  height: 800px;
  position: relative;
  margin-bottom: 50px;
  
  .contents-row {
    
    .bubble {
      position: relative;
      height: 100px;
      background: rgba(0,0,0,0.1);
      border-radius: 15px;
      margin: 0 5px 20px 5px;
      box-sizing: border-box;
      text-align: center;
      padding: 20px 5px 0 5px;
      
      .left-contents {
        display: inline-block;
        width: 40%;
      }
      
      .right-contents {
        display: inline-block;
        width: 55%;
      }
      
      h5 {
        span {
          font-weight: bold;
          font-size: 20px;
        }
      }
      
      p {
        font-size: 10px;
        margin: 0 0 5px 0;
      }
    }
    
    .bubble::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      display: block;
      width: 0;
      height: 0;
      margin: 0 auto;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: rgba(0,0,0,0.1) transparent transparent transparent;
    }
    
    .bottom-contents {
      height: 100px;
      
      .icon-img {
        display: inline-block;
        text-align: center;
        width: 30%;
        height: 100%;
        
        img {
          height: 60px;
        }
      }
      
      .input {
        display: inline-block;
        text-align: center;
        width: 65%;
        font-size: 11px
      }
    }
  }
  
  .others {
    position: absolute;
    bottom: 10px;
    text-align: center;
  }
}

.top-row {
  background: transparent;
  width: 100%;
  
  .bottom {
    height : 300px;
  }
  
  
  .single-column-img {
    height: 100%;
    width: 45%;
    display: inline-block;
    
    .single-column {
      position: relative;
      height: 180px;
      background: rgba(0,0,0,0.1);
      border-radius: 15px;
      margin: 0 5px 0 5px;
      box-sizing: border-box;
      text-align: center;
      padding: 20px 5px 0 5px;
      
      h5 {
        span {
          font-weight: bold;
          font-size: 20px;
        }
      }
      
      p {
        font-size: 10px;
        margin: 0 0 5px 0;
      }
    }
    
    
    .single-column::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -10px;
      display: block;
      width: 0;
      height: 0;
      margin: 0 auto;
      border-style: solid;
      border-width: 10px 8px 0 8px;
      border-color: rgba(0,0,0,0.1) transparent transparent transparent;
    }
    
    .icon-img {
      text-align: center;
      margin: 20px 0 40px 0; 
  
      img {
        height: 70px;
      }
    }
  }
}

.single-plan-editter {
  height: 180px;
  margin-bottom: 30px;
  
  .marriage {
    
  }
  
  .sons {
    
  }
  
  .myhome {
    
  }
  
  .others {
    
  }
  
  
  .left-contents {
    height: 100%;
    text-align: center;
    
    img {
      height: 50%;
    }
  }
  
  .right-contents {
    height: 100%;
      
    .bubble {
      text-align: left;
      position: relative;
      height: 180px;
      background: rgba(0,0,0,0.1);
      border-radius: 15px;
      margin: 0 5px 0 5px;
      box-sizing: border-box;
      text-align: center;
      padding: 20px 5px 0 5px;
    }
    
    .bubble::after {
      content: "";
      position: absolute;
      left: -20px;
      right: 0;
      bottom: 50%;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 20px 0px;
      border-color: transparent rgba(0,0,0,0.1) transparent transparent;
    }
  }
}

.graph {
  height: 400px;
  padding: 0 0 0 30px;
}

.graph-title {
  padding: 0 0 0 30px;
}

.graph-description {
  padding: 30px 30px 0 0;
  
  .right-contents {
    height: 142px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    
    .title-area {
      height: 20px;
      background-color: rgba(0,0,0,0.2);
      padding: 4px 0 0 0;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      border-radius: 10px 10px 0 0;
    }
    
    .des-area {
      margin: 8px 0 0 0;
    }
    
    h6 {
      margin: 0 0 0 15px;
    }
    
    p {
      margin: 0 0 0 20px;
      font-size: 12px;
    }
    
  }
  
  .space {
    height: 20px;
  }
}

.graph-reference-bubble {
  height: 430px;
  position: relative;
  background: rgba(0,0,0,0.1);
  border-radius: 15px;
  margin: 0 5px 20px 5px;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 0 0 10px;
  margin: 20px 30px 0 30px;
  width: 75%;
  
  .text-area {
    text-align: left;
    padding-left: 30px;
    
    h4 {
      margin: 0 0 10px 0;
    }
  }
  
  .single-column {
    float: left;
    display: inline-block;
    height: 360px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: white;
    margin: 0 0 0 20px;
    width: 30%;
    border-radius: 15px;
    
    .title-area {
      height: 20px;
      background-color: rgba(0,0,0,0.2);
      padding: 4px 0 0 0;
      border-bottom: 1px solid rgba(0,0,0,0.3);
      border-radius: 10px 10px 0 0;
      text-align: center;
      
      h6 {
        margin: 0 0 0 0;
      }
    }
  }
}

.graph-reference-bubble::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  display: block;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-style: solid;
  border-width: 0px 20px 20px 20px;
  border-color: transparent transparent rgba(0,0,0,0.1) transparent;
}


