.plan-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #fafafa;
  
  .submit {
    margin-bottom: 20px;
  }
}

.plan-title {
  background: linear-gradient(to right, rgba(0,0,0,0.2), white);
  position: relative;
  height: 250px;
  margin: 20px 0 50px 0;
  
  .left-contents {
    padding: 20px 0 0 20px;
    
    h1 {
      margin-bottom: 15px;
    }
    
    p {
      margin-left: 20px;
    }
  }
  
  img {
    position: absolute;
    top: 0;
    right: 0;
    height: 250px;
  }
}

.single-plan-editter {
  height: 180px;
  margin-bottom: 30px;
  
  .left-contents {
    height: 100%;
    text-align: center;
    
    img {
      height: 50%;
    }
  }
  
  .right-contents {
    height: 100%;
      
    .bubble {
      text-align: left;
      position: relative;
      height: 180px;
      background: rgba(0,0,0,0.1);
      border-radius: 15px;
      margin: 0 5px 0 5px;
      box-sizing: border-box;
      text-align: center;
      padding: 20px 5px 0 5px;
    }
    
    .bubble::after {
      content: "";
      position: absolute;
      left: -20px;
      right: 0;
      bottom: 50%;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 20px 0px;
      border-color: transparent rgba(0,0,0,0.1) transparent transparent;
    }
  }
}
