.login-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('bg-top.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .login-container {
    padding-top: 100px;
    
    .form-group {
      margin-bottom: 20px;
    }
    
    h1 {
      margin-bottom: 30px;
    }
  }
}